<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!--헤드-->
<head>
    <th:block th:replace="fragments/head :: headFragment"></th:block>
    <link rel="stylesheet" href="/css/join.css">
    <title>회원가입</title>
</head>
<!--헤더-->
<th:block th:replace="fragments/header :: header"></th:block>
<body>

<div class="sub_wrap">
    <div class="sub_tit">
        <h1>회원가입</h1>
        <div class="under"></div>
    </div>
    <div class="contents_wrap">
        <div class="join_area">
            <div class="join_tit">
                <p class="sub_bull"><span>기본정보</span></p>
            </div>

            <script src="https://code.jquery.com/jquery-3.6.0.slim.js" integrity="sha256-HwWONEZrpuoh951cQD1ov2HUK5zA5DwJ1DNUXaM6FsY=" crossorigin="anonymous"></script>
            <script th:inline="javascript">
                $(document).ready(function () {
                    var errorMessage = [[${errorMessage}]];
                    if (errorMessage != null) {
                        alert(errorMessage);
                    }
                });
            </script>

            <form th:action="@{/members/new}" role="form" method="post" th:object="${memberFormDto}">

                <div class="join_info">

                    <div class="e_mail">
                        <label th:for="email"></label>
                        <input type="email" th:field="*{email}" name="email" placeholder="이메일" id="username"
                               onclick="clickEmail();"
                               onblur="isEmail(this.name.value)" required>
                        <p th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Incorrect data</p>
                        <!--                            <input class="btn btn-outline-primary btn-sm idCheck mx-1" type="button" id="usernameOverlay" onclick="usernameCheck()" value="중복 체크"/>-->
                    </div>

                    <!--                        <div id="info_email" class="warn_area">-->
                    <!--                            <font color="#FF0000">이메일을 입력바랍니다.</font>-->
                    <!--                        </div>-->

                    <div class="name01">
                        <label th:for="name"></label>
                        <input type="text" th:field="*{name}" name="f_name" placeholder="이름" required>
                        <p th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Incorrect data</p>
                    </div>

                    <div class="pw01">
                        <label th:for="password"></label>
                        <input type="password" id="pw" th:field="*{password}" placeholder="비밀번호">
                        <p th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Incorrect data</p>

                        <label th:for="password"></label>
                        <input type="password" id="pw2" placeholder="비밀번호 확인">
                    </div>

                    <div>
                        <label th:for="phoneNm"></label>
                        <input type="text" th:field="*{phoneNm}" placeholder="전화번호를 입력해주세요">
                        <p th:if="${#fields.hasErrors('phoneNm')}" th:errors="*{phoneNm}">Incorrect data</p>
                    </div>

                    <div>
                        <input type="text" name="postCode" id="sample4_postcode" placeholder="우편번호">
                        <input type="button" onclick="sample4_execDaumPostcode()" value="우편번호 찾기"><br>
                        <input type="text" name="roadAdd" id="sample4_roadAddress" placeholder="도로명주소">
                        <input type="text" name="jibunAdd" id="sample4_jibunAddress" placeholder="지번주소">
                        <span id="guide" style="color:#999;display:none"></span>
                        <input type="text" name="detailAdd" id="sample4_detailAddress" placeholder="상세주소">
                        <input type="text" name="extraAdd" id="sample4_extraAddress" placeholder="참고항목">

                        <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
                        <script>
                            //본 예제에서는 도로명 주소 표기 방식에 대한 법령에 따라, 내려오는 데이터를 조합하여 올바른 주소를 구성하는 방법을 설명합니다.
                            function sample4_execDaumPostcode() {
                                new daum.Postcode({
                                    oncomplete: function (data) {
                                        // 팝업에서 검색결과 항목을 클릭했을때 실행할 코드를 작성하는 부분.

                                        // 도로명 주소의 노출 규칙에 따라 주소를 표시한다.
                                        // 내려오는 변수가 값이 없는 경우엔 공백('')값을 가지므로, 이를 참고하여 분기 한다.
                                        var roadAddr = data.roadAddress; // 도로명 주소 변수
                                        var extraRoadAddr = ''; // 참고 항목 변수

                                        // 법정동명이 있을 경우 추가한다. (법정리는 제외)
                                        // 법정동의 경우 마지막 문자가 "동/로/가"로 끝난다.
                                        if (data.bname !== '' && /[동|로|가]$/g.test(data.bname)) {
                                            extraRoadAddr += data.bname;
                                        }
                                        // 건물명이 있고, 공동주택일 경우 추가한다.
                                        if (data.buildingName !== '' && data.apartment === 'Y') {
                                            extraRoadAddr += (extraRoadAddr !== '' ? ', ' + data.buildingName : data.buildingName);
                                        }
                                        // 표시할 참고항목이 있을 경우, 괄호까지 추가한 최종 문자열을 만든다.
                                        if (extraRoadAddr !== '') {
                                            extraRoadAddr = ' (' + extraRoadAddr + ')';
                                        }

                                        // 우편번호와 주소 정보를 해당 필드에 넣는다.
                                        document.getElementById('sample4_postcode').value = data.zonecode;
                                        document.getElementById("sample4_roadAddress").value = roadAddr;
                                        document.getElementById("sample4_jibunAddress").value = data.jibunAddress;

                                        // 참고항목 문자열이 있을 경우 해당 필드에 넣는다.
                                        if (roadAddr !== '') {
                                            document.getElementById("sample4_extraAddress").value = extraRoadAddr;
                                        } else {
                                            document.getElementById("sample4_extraAddress").value = '';
                                        }

                                        var guideTextBox = document.getElementById("guide");
                                        // 사용자가 '선택 안함'을 클릭한 경우, 예상 주소라는 표시를 해준다.
                                        if (data.autoRoadAddress) {
                                            var expRoadAddr = data.autoRoadAddress + extraRoadAddr;
                                            guideTextBox.innerHTML = '(예상 도로명 주소 : ' + expRoadAddr + ')';
                                            guideTextBox.style.display = 'block';

                                        } else if (data.autoJibunAddress) {
                                            var expJibunAddr = data.autoJibunAddress;
                                            guideTextBox.innerHTML = '(예상 지번 주소 : ' + expJibunAddr + ')';
                                            guideTextBox.style.display = 'block';
                                        } else {
                                            guideTextBox.innerHTML = '';
                                            guideTextBox.style.display = 'none';
                                        }
                                    }
                                }).open();
                            }

                            $(function () {

//비밀번호 확인
                                $('#pw2').blur(function () {
                                    if ($('#pw').val() != $('#pw2').val()) {
                                        if ($('#pw2').val() != '') {
                                            alert("비밀번호가 일치하지 않습니다.");
                                            $('#pw2').val('');
                                            $('#pw2').focus();
                                        }
                                    }
                                })
                            });
                        </script>

                    </div>

<!--                    <div class="agree_box">-->
<!--                        <ul>-->
<!--                            <li class="join_agree">-->
<!--                                <input type="checkbox" name="chk_personal" value="N"> <label for="chk_personal">개인정보-->
<!--                                취급방침</label>-->
<!--                                <span><a href="/trail/kor/document/personal_ko.asp" target="_blank">전문보기</a></span>-->
<!--                            </li>-->
<!--                            <li class="join_agree">-->
<!--                                <input type="checkbox" name="chk_join" value="N"> <label for="chk_join">이용약관 동의</label>-->
<!--                                <span><a href="/trail/kor/document/use_ko.asp" target="_blank">전문보기</a></span>-->
<!--                            </li>-->
<!--                            <li class="join_agree">-->
<!--                                <input type="checkbox" name="chk_sms" value="Y"> <label for="chk_join">SMS 및 이메일-->
<!--                                수신동의(선택)</label>-->
<!--                                <span><a href="/trail/kor/document/sms_ko.asp" target="_blank">전문보기</a></span>-->
<!--                            </li>-->
<!--                        </ul>-->
<!--                    </div>-->
                    <div class="button_box">
                        <button type="submit" class="btn-3d green">가입하기</button>
                    </div>
                </div>
            </form>
            <!-- <div class="btn_join" onclick="chk_form();">가입하기</div> -->



        </div>

        <!--<script>-->
        <!--    var password = document.getElementById("pw")-->
        <!--  ,confirm_password = document.getElementById("confirm_pw");-->

        <!--function validatePassword(){-->
        <!--  if(password.value != confirm_password.value) { // 만일 두 인풋 필드값이 같지 않을 경우-->
        <!--    // setCustomValidity의 값을 지정해 무조건 경고 표시가 나게 하고-->
        <!--    confirm_pw.setCustomValidity("비밀번호가 일치하지 않습니다.");-->
        <!--  }-->
        <!--  else { // 만일 두 인풋 필드값이 같을 경우-->
        <!--    // 오류가 없으면 메시지를 빈 문자열로 설정해야한다. 오류 메시지가 비어 있지 않은 한 양식은 유효성 검사를 통과하지 않고 제출되지 않는다.-->
        <!--    // 따라서 빈값을 주어 submit 처리되게 한다-->
        <!--    confirm_pw.setCustomValidity('');-->
        <!--  }-->
        <!--}-->

        <!--password.onchange = validatePassword;-->
        <!--confirm_password.onkeyup = validatePassword;-->

        <!--&lt;!&ndash;중복체크&ndash;&gt;-->

        <!--function usernameCheck() {-->
        <!--    const username = $("#username").val();-->
        <!--    if (username == "") {-->
        <!--        alert("아이디를 입력해주세요!. 필수항목입니다.");-->
        <!--        $("#username").focus();-->
        <!--        return false;-->
        <!--    }-->
        <!--    $.ajax({-->
        <!--        type: "get",-->
        <!--        url: "/api/overlap/usernameRegister",-->
        <!--        data: {"username": username},-->
        <!--        dataType: "JSON",-->

        <!--        success: function (result) {-->
        <!--            if (result.result == "0") {-->
        <!--                if (confirm("이 아이디는 사용 가능합니다. \n사용하시겠습니까?")) {-->
        <!--                    usernameOverlapCheck = 1;-->
        <!--                    $("#username").attr("readonly", true);-->
        <!--                    $("#usernameOverlay").attr("disabled", true);-->
        <!--                    $("#usernameOverlay").css("display", "none");-->
        <!--                    $("#resetUsername").attr("disabled", false);-->
        <!--                    $("#resetUsername").css("display", "inline-block");-->
        <!--                }-->
        <!--                return false;-->
        <!--            } else if (result.result == "1") {-->
        <!--                alert("이미 사용중인 아이디입니다.");-->
        <!--                $("#username").focus();-->
        <!--            } else {-->
        <!--                alert("success이지만 result 값이 undefined 잘못됨");-->
        <!--            }-->
        <!--        },-->
        <!--        error: function (request, status,error) {-->
        <!--            alert("ajax 실행 실패");-->
        <!--            alert("code:" + request.status + "\n" + "error :" + error);-->
        <!--        }-->
        <!--    });-->

        <!--}-->
        <!--</script>-->

    </div>
</div>
<!--푸터-->
<div th:replace="fragments/footer :: footer"></div>
<script src="https://code.jquery.com/jquery-3.6.3.js"
        integrity="sha256-nQLuAZGRRcILA+6dMBOvcRh5Pe310sBpanc6+QBmyVM="
        crossorigin="anonymous"></script>

</body>


</html>