<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div class="footerWrap" th:fragment="footer">
    <footer class="footer-container">
        <div class="item">
            <!--            <img src="https://raw.githubusercontent.com/BinBinToure/Dulle-gil/main/image/foot_logo.png" alt="푸터로고">-->
        </div>
        <div class="item">
            <p>Designed by a month's life</p>
        </div>
        <div class="item sns">
            <!--            <a href="#"><i class="fa-brands fa-facebook n1"></i></a>-->
            <!--            <a href="#"><i class="fa-brands fa-instagram n1"></i></a>-->
            <!--            <a href="#"><i class="fa-brands fa-twitter n1"></i></a>-->

        </div>

        <script type="text/javascript" src="/js/common.js"></script>
    </footer>
</div>
</html>